[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Nicolas Egusquiza
	email = 166415114+nicas54yuy64@users.noreply.github.com
